@keyframes example {
    from {transform: scale(0.77);}
    to {transform: scale(1);}
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
li {
    display: inline;
    color: #000000;
    text-decoration: none;
    margin:21px 4px;
    padding: 20px 16px;
}
a {
     color: inherit; 
     text-decoration: none;
} 

.container{
    position:relative;
    overflow: hidden;
}
.header{
    position: fixed;
    margin-top: 16px;
    top: 0;
}
.footer{
    position: fixed;
    float: left;
    width: 100%;
    bottom: 0;
    font-size: small;
    font-family: arial, serif;
    padding: 16px;
}
.boxes{
    display: float;
    min-width: 54px;
    text-align: center;
    height: 36px;
    margin:11px 4px;
    padding: 0 16px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;

}
.moveleft{
    float: left;
}
.moveright{
    float: right;
}
.toplinks{
    font-family: arial, sans-serif;
    font-size: 13px;
}
.footerleft{
    float: left;
    margin: 16px;
}
.footerright{
    float: right;
    margin: 16px;
}
#hplogo{
    display: block;
    width: 500px;
    height: 200px;
    margin:0  auto;
}
#initialsprite{
    position: absolute;
    display:block;
    margin:0 auto;
    top: 10px;
    left: 610px;
    margin-left: auto;
    margin-right: auto;
    object-fit: none;
    z-index: 2;
    width: 102px;
    height: 164px;
    object-position: -510px -10px;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: .5s;
}
#searchcontainer{
    display: block;
    background-color: transparent;
    width: 50%;
    height: 34px;
    margin:0 auto;
    border-radius: 24px;
    box-shadow: none;
    border: 1px solid #DFE1E5;
}
#searchbar{
    display: inline;
    background-color: transparent;
    border: none;
}
#loupe{
    position: absolute;
    top: -3px;
}